<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Serveur" value="DESKTOP-OPP1BT4\SQLEXPRESS" />
		<add key="BaseDeDonnees" value="MedCab" />
		<add key="Utilisateur" value="medcine" />
		<add key="MotDePasse" value="12345678" />
		<add key="AdresseIP" value="127.0.0.1" />
		<add key="Passeword_Admin" value="admin" />
	</appSettings>
</configuration>